@import url('https://fonts.googleapis.com/css?family=Monoton:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=La Belle Aurore:200,300,400,500,600,700,800,900&display=swap');

/* IMPORTANT : UTILISER flex : none; dans un élément pour qu'il conserve sa taille et ne soit pas redistribué par le display : flex; */
/* SI on a trois colonnes, on met 2 colonnes (sidebar et social) avec le width en pixel et la colonne du milieu (main) prend la valeur:
   - width : 100%; c'est à dire qu'elle va occuper sur la page un emplacement variable mais qui sera la différence entre les deux blocs
   de longueur spécifiée */
   
   /*  margin: haut, droit, bas, gauche
   /* La propriété s'applique aux quatre côtés */
            /*  margin: 1em;
    /* vertical | horizontal */
            /* margin: 5% auto;
    /* haut | horizontal | bas */
            /*margin: 1em auto 2em;
    /* haut | droit | bas | gauche */
            /*margin: 2px 1em 0 auto;
            */
body {
  padding: 0;
  margin: 0;
  background:url("../images/pexel.jpg") fixed no-repeat top,
             url("../images/pexels-julius-silver-753626.jpg") fixed no-repeat center,
             url("../images/pexels-pixabay-210205.jpg") fixed no-repeat bottom;
  background-size: cover;
  background-position:bottom;
 /* background:url("./images/pexels_photo.jpg") ;
  background-size: cover;
  background-position:top;*/
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
}
  /*background: #f1f1f1;*/

  .image img {
    width: 110px;
     height:60px;
    padding:0;
    margin:0;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;

  }
  .image:hover img {
  /* L'image est grossie de 25% */
  -webkit-transform:scale(1.35); /* Safari et Chrome */
  -moz-transform:scale(1.35); /* Firefox */
  -ms-transform:scale(1.35); /* Internet Explorer 9 */
  -o-transform:scale(1.35); /* Opera */
  transform:scale(1.35);
  filter: drop-shadow(0 0 0.75rem rgb(128, 18, 95));
  border-radius: 10px;
  }
header {
  background:white; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  color:#111;
  border-bottom: rgba(0, 0, 0, 0.6);
}
a {
  color: inherit;
}

.topbar a {
  text-decoration: none;
  transition: color 0.3s;
}

a.active,
a:hover {
  color:rgb(14, 14, 238);
  font-size: larger;
  text-decoration: underline;
}
.container {
  padding: 0px 20px;
  max-width: 1588px;
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 20px;

}

.sidebar {
  padding: 12px 18px;
  grid-row: 1/2;
  grid-column: 1/2;
  box-shadow: -1px 2px 5px 1px rgba(255,255, 255, 1),
            -1px 2px 5px rgba(255, 255, 255, 0.6) inset; 
}
.sidebar-item h1{
  position: relative;
  background-image: linear-gradient(-225deg, #94edf3 0%, #EACCF8 48%, #e8e6f8 100%);
  border: solid 1px #dbdbdb;
  font-family:'Monoton','La Belle Aurore','sans-serif';
  font-weight: 900;
  font-size:4em;
  border-radius: 5px;
  color:rgb(7, 192, 216);
  /*padding: 80px;*/
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 3px 4px 3px maroon;
  opacity:0.8;
  padding-top:30px;
}
.Nbart {
  color:black;
  background: rgb(99, 237, 255);
  text-align: center;
}

.main{
  grid-column: 2/4;
  grid-row: 1/8;
}
.post {
  background-color: white;
  /*background:url("./images/pexel.jpg") ;
  background-size: cover;
  background-position:top;*/
  border: thick double #32a1ce;
  border-radius: 5px;
  margin: 25px 130px;
  width: 830px;
  height:275px;
  overflow-y: auto;
  /*box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 1),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;*/ 
  
}
.post-img {
  flex:none;
  width: 245px;
  height: 224px;
}
.titre {
  font-size: 20px;
  color:rgb(14, 14, 238);
  padding:20px 5px;
  text-align: justify;
  }
.titre a {
    text-decoration: underline;
    
}
.titre a :active {
  text-decoration: underline;
}
.info-avatar {
  display: flex;
  flex-wrap: wrap;
  width: 145px;
}
.info-avatar .avatar {
  width: 50px;
  padding: 10px 30px;
}
.info-avatar .pseudo {
  width: 70%;
}
.info-avatar img {
  border-radius: 5px;
}
.post{
  grid-column: 2/4;
  grid-row: 1/6;
}
.post .post-img {
  width: 245px;
  height: 224px;
  margin-bottom: 25px;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow-bottom: 7px rgba(0, 0, 0, 0.5);
}
.post .post-text {
  margin: 0 5px;
  padding: 15px 0;
  font-size: 14px;
}

.pseudo .title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.pseudo .post-time {
  font-size: 12px;
}
.pseudo p {
  padding: 0;
  margin: 5px 30px;
}
.post .social {
  display: flex;
  justify-content: space-between;
  width: 120px;
  padding: 0px 15px;
  background-color: #fbfbfb;
  border-top: solid 1px #dbdbdb;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
}
.TitreArt input {
  font-size: 18px;
  background: rgba(228, 62, 145, 0.7) ;
        color:beige;
        width: 140px;
        padding: 0px 30px;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;   
}

@media only screen and (min-width: 375px) {
  .topbar {
    display:inline-block;
    justify-content: center;
    align-items: center;
    height: 140px;
  }
  body {
    width:100%;
  }
  .image img {
    height: 50px;
    width: 50x;
    padding:0px 162.5px 0px;
  }
  .topbar a {
    padding: 15px 45px 0px 10px;
    margin-top: 0px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin:0;
    padding:0;
    flex:none;
    
  }
  .sidebar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/7; 
    flex:none;
    margin:10px 0 0 0;
    padding:0;
    width: 100%;
    height: 200px;
  }
  .sidebar-item h1{
    width: 80%;
    font-size: 22px;
    text-align: center;
    flex: none;
    margin: 0px 30px;    
    height:150px;
  }

  .main {
    grid-column: 1/2;
    grid-row: 2/7; 
    width:85%;
    margin-left: 30px;
    height: 1024px;
  }
  .post {
    margin: 5% auto 5%;
    
  }
  .post .social {
    height: 45px;
  }
}

@media only screen and (min-width: 600px) {
  .topbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 85px;
    text-align: center;
  }
  .topbar a {
    padding:0 5px 0 40px;
    margin:0; 
  }
  .image img {
    width: 110px;
     height:60px;
    padding: 0px 0px 0px 25px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    width:100%;
    height: 982px;
    
  }
  .sidebar {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2; 
    margin: 10px 5px 20px 0px;
    height: 300px;
  }
  .sidebar-item h1{
    width: 90%;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-right: 0;
    margin-left: 10px;
    height: 280px;
    
  }
  .main {
    width: 100%;
    margin: 28px 10px 20px 10px;
    grid-column: 2/3;
    grid-row: 1/4; 
  }

  .post {
    
    width:90%;
    margin: 0 auto 20px;
    
  }
  .post .social {
    height: 35px;
    font-size: smaller;
  }
}
@media only screen and (min-width: 1138px) {
  .topbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 85px;
    text-align: center;
  }
  .topbar a {
    padding:0 20px 0 40px;
    margin:0; 
  }
  .image img {
    width: 110px;
    height:60px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3, 1fr);
    width:100%;
    height: 897px;
    
  }
  .sidebar {
   position: relative;
    grid-column: 1/2;
    grid-row: 1/2; 
    margin: 20px 10px 20px 20px;
    padding-bottom: 120px;
  }
  .sidebar-item h1{
    position: relative;
    width: 500px;
    font-weight: 900;
    font-size:3em;
    text-align: center;
    padding: 10px 30px 10px 30px;
    margin-left: 10px 20px 10px 20px;
    height: 400px;
    
  }
  .main {
    position: relative;
    margin: 28px 10px 20px 20px;
    grid-column: 2/3;
    grid-row: 1/4; 
  }
  .post {
    margin: 0 auto 40px;
    
  }
  .post .social {
    width: 120px;
    font-size: 16px;
    padding:0px 30px;
    margin:Opx 30px;
  }
}
@media only screen and (min-width: 1473px) {
  
.topbar{
  background: color:white;
  border-bottom: rgba(0, 0, 0, 0.6);
}

  .container {
    padding: 0px 20px;
    margin: 0 1.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 50px;
    width: 1473px;
    height : 982px;
  
  }
  .main{
    width: 800px;
  }
  .sidebar {
    height: 562px;
  }

  
  .sidebar-item h1{
    position: relative;
    margin: 5% 0% 5%;
    font-weight: 900;
    font-size:3.5em;
    padding: 80px 30px;
    width: 540px;
    grid-column: 1/2;
    grid-row: 1/2;
    
  }
  .post {
    grid-column: 2/4;
    grid-row: 1/6;
    border: thick double #32a1ce;
  border-radius: 5px;
    width: 830px;
    margin: 30px auto 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .post .social {
    display:flex;
    justify-content: space-between;
    flex:none;
  }
}