*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
}
section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-image: url(../images/palge2.jpg);
    background-size: cover;
    background-position: center;
}
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.3),(rgba(0,0,0,0.3)));
    width: 380px;
    padding: 50px 30px;
    border-radius: 107px;
    box-shadow: 7px 7px 60px #000;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkorange;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 2em;

}
.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em 0;
}
#bouton{
    background: darkorange;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .7;
    transition: opacity .3s ease;
}
#bouton:hover{
    opacity: 1;
}
.link{
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    transition: opacity .3s ease;
}
.link a:hover{
    opacity: 1;
}

.control {
    color: darkorange;

}

p{
    color: red;

}

