body {
    
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background:url("../images/pexel.jpg") ;
  background-size: cover;
  background-position:top;
    font-size: 26px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
    width: 100%;
}
.image img {
    width: 110px;
     height:60px;
    padding:0;
    margin:0;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;

  }
  .image:hover img {
  /* L'image est grossie de 25% */
  -webkit-transform:scale(1.35); /* Safari et Chrome */
  -moz-transform:scale(1.35); /* Firefox */
  -ms-transform:scale(1.35); /* Internet Explorer 9 */
  -o-transform:scale(1.35); /* Opera */
  transform:scale(1.35);
  filter: drop-shadow(0 0 0.75rem rgb(128, 18, 95));
  border-radius: 10px;
  }
.topbar {
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  color:#111;
}
a {
  color: inherit;
}

.topbar a {
  text-decoration: none;
  transition: color 0.3s;
}

a.active,
a:hover {
  color:rgb(14, 14, 238);
  font-size: larger;
  text-decoration: underline;
}
legend {
    color: white;
    background:black;

}
.affichage {
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
}
#success, #success1{
    color:white;
    font-size: 2em;
    background-color: black;
    width:fit-content;
}
.avatar {
    background: rgb(163, 160, 160) ;
    width: 60%;
    font-size: 26px;
    padding: 50px;
    margin: 2.5% 0% 0% 0%;
}
.affichage input {
    
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;  
}
.corppost{
    background:rgb(163, 160, 160) ;
    font-size: 26px;
display:flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;   
width: 63%;
padding: 50px 30px;
margin: 2.5% 0% 0 0;
}
.corppost input{
    width: 100%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.corppost textarea {
    width: 100%;
    font-size: 24px;
    margin: 40px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset {
    width:90%;
}
.date {
    width: 60%;
    height:70px;
    margin: 1% 0% 0% 0%;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    padding:20px 30px;
}
.Reseau {
    background:rgb(163, 160, 160) ;
}
.Reseau input {
    width: 35%;
     font-size: 26px;
     font-family: Arial, Helvetica, sans-serif;
}
.Reseau fieldset {
    width: 70%;
    background: #fff ;
    margin:20px 0px 20px 100px;
}
 
#bouton {
    
    border-radius: 5px;
    margin: auto auto;
    width:350px;
}
#bouton input{
    background-color: rgb(41, 37, 36);
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    height:80px;
}