@import url('https://fonts.googleapis.com/css?family=Monoton:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=La Belle Aurore:200,300,400,500,600,700,800,900&display=swap');

/* IMPORTANT : UTILISER flex : none; dans un élément pour qu'il conserve sa taille et ne soit pas redistribué par le display : flex; */
/* SI on a trois colonnes, on met 2 colonnes (sidebar et social) avec le width en pixel et la colonne du milieu (main) prend la valeur:
   - width : 100%; c'est à dire qu'elle va occuper sur la page un emplacement variable mais qui sera la différence entre les deux blocs
   de longueur spécifiée */
   
   /*  margin: haut, droit, bas, gauche
   /* La propriété s'applique aux quatre côtés */
            /*  margin: 1em;

    /* vertical | horizontal */
            /* margin: 5% auto;

    /* haut | horizontal | bas */
            /*margin: 1em auto 2em;

    /* haut | droit | bas | gauche */
            /*margin: 2px 1em 0 auto;
            */
body {

  /*  transform: scale(0.2);
   transform-origin: 0 0;
    add prefixed versions too.*/
  padding: 0;
  margin: 0;
  background:url("../images/pexels_photo.jpg") ;
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
}
  .image img {
    width: 110px;
     height:60px;
    padding:0;
    margin:0;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;

  }
  .image:hover img {
  /* L'image est grossie de 25% */
  -webkit-transform:scale(1.35); /* Safari et Chrome */
  -moz-transform:scale(1.35); /* Firefox */
  -ms-transform:scale(1.35); /* Internet Explorer 9 */
  -o-transform:scale(1.35); /* Opera */
  transform:scale(1.35);
  filter: drop-shadow(0 0 0.75rem rgb(128, 18, 95));
  border-radius: 10px;
  }
.topbar {
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  color:#111;
}
a {
  color: inherit;
}

.topbar a {
  text-decoration: none;
  transition: color 0.3s;
}

a.active,
a:hover {
  color:rgb(14, 14, 238);
  font-size: larger;
  text-decoration: underline;
}
.container {
  padding: 0px 20px;
  max-width: 1588px;
  margin: 0 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.main{
  grid-column: 1/2;
  grid-row: 1/2;
}
.post {
  background-color: white;
  border: solid 1px #3a2424;
  border-radius: 5px;
  margin: 25px 130px;
  width:100%;
  
}
.info-avatar {
  display: flex;
  flex-wrap: wrap;
}
.info-avatar .avatar {
  width: 15%;
  padding: 10px 10px;
}
.info-avatar .pseudo {
  width: 70%;
}
.info-avatar img {
  border-radius: 150px;
}
.post-img {
   -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow-bottom: 7px rgba(0, 0, 0, 0.5);
}
.post .post-img {
  margin : 20px 100px 20px 200px;
  width: 60%;
}
.titre {
      font-size: 24px;
      color:rgb(14, 14, 238);
      text-align: center;

}
.post .post-text {
  display: block;
  margin: 0px 25px 0px 40px;
  padding: 15px 80px;
  font-size: 16px;
  color:black;
  text-align: justify;
  line-height: 1.9;
  width: 80%;
  border-left: 13px inset maroon;
}
#first ::first-line {
  display:block;
  text-transform: uppercase;
  font-size:20px;
  color:rgb(255, 51, 0);
  font-weight: bold;
}
.pseudo .title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.pseudo .post-time {
  font-size: 12px;
}

.pseudo p {
  padding: 0;
  margin: 5px 0;
}

.post .social {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  background-color: #fbfbfb;
  border-top: solid 1px #dbdbdb;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
}


@media only screen and (min-width: 375px) {
  .topbar {
    width: auto;
    display:inline-block;
    justify-content: center;
    align-items: center;
    height: 140px;
  }
  body {
    width:100%;
  }
  .image img {
    height: 50px;
    width: 50x;
    padding:0px 162.5px 0px;
  }
  .topbar a {
    padding: 15px 45px 0px 10px;
    margin-top: 0px;
  }

  #retour {
    float: right;
  }
  #retour img {
    width:40px;
    height:40px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    margin:0;
    padding:0;
    flex:none;
    
  }
  .main {
    grid-column: 1/2;
    grid-row: 1/11; 
    width:80%;

  }
  .post {
    width: 80%;
    margin: 1% auto 1%;
    
  }

  .post .post-text {
    margin: 0px;
    width: auto;
    padding: 15px 10px;

  }

  .post .post-img {
    margin: auto;
    width: 80%;
  }

  #img2 {
    text-align: center;
  }

  .post .social {
    height: 45px;
  }
}

@media only screen and (min-width: 600px) {
  .topbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 85px;
    text-align: center;
  }
  .topbar a {
    padding:0 5px 0 40px;
    margin:0; 
  }
  .image img {
    width: 110px;
     height:60px;
    padding: 0px 0px 0px 25px;
  }
  #retour img {
    width:60px;
    height: 60px;
    }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width:100%;
    height: 982px;
    
  }
  .sidebar {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2; 
    margin: 20px 5px 20px 10px;
  }
  .sidebar-item h1{
    width: 100%;
    font-weight: 900;
    font-size: 2.5em;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-right: 0;
    margin-left: 10px;
    
  }
  .main {
    width: 100%;
    margin: 28px 10px 20px 10px;
    grid-column: 1/2;
    grid-row: 1/2; 
  }

  .post {
    
    width:90%;
    margin: 0 auto 20px;
    padding: 15px 35px;
    
  }
  .post .social {
    height: 35px;
    font-size: smaller;
  }
}
@media only screen and (min-width: 1138px) {
  .topbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 85px;
    text-align: center;
  }
  .topbar a {
    padding:0 20px 0 40px;
    margin:0; 
  }
  .image img {
    width: 110px;
    height:60px;
  }
  #retour img {
    width:60px;
    height: 60px;
    }
  .container {
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    width:100%;
    height: 897px;
    
  }
  .sidebar {
   position: relative;
    grid-column: 1/2;
    grid-row: 1/2; 
    margin: 20px 10px 20px 20px;
    padding-bottom: 120px;
  }
  .sidebar-item h1{
    position: relative;
    width: 500px;
    font-weight: 900;
    font-size:3em;
    text-align: center;
    padding: 10px 30px 10px 30px;
    margin-left: 10px 20px 10px 20px;
    
  }
  .main {
    position: relative;
    margin: 28px 10px 20px 20px;
    grid-column: 1/2;
    grid-row: 1/2; 
  }

  .post {
    margin: 0 auto 40px;
    padding: 15px 55px;
    
  }
  .post .social {
    height: 40px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1473px) {
  #retour img {
    width:60px;
    height: 60px;
    }
  .container {
    padding: 0px 20px;
    margin: 0 5%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    width: 1473px;
    height : 982px;
  
  }
  
  .sidebar-item h1{
    position: relative;
    margin: 5% auto 5%;
    font-weight: 900;
    font-size:3.5em;
    padding: 80px 40px;
    width: 650px;
    
  }
  .post {
    width:80%;
    margin: 30px auto 40px;
    padding: 15px 80px;
  }
}